.intro {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: justify;
    border-radius: 25px;
    border: 1px solid #e41f1f;
    background: #FFF;

    h1 {
        padding: 20px;
        width: 100%;
        max-width: 850px;
        height: auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 200%;
        color: #091156;
    }

    span {
        color: rgb(239, 23, 23);
    }
}
.goal{
    margin-top: 50px;
}