$color-text : #091156;

.categories {
  margin: 50px;

  .categories-bottom {
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 20px;
    padding: 30px;
    .categories-bottom_item {
      text-align: center;
      border-radius: 10px;
      border: 1px solid #E2E2E2;
      box-shadow: 0px 0px 50px 0px #e3e3e6;
      padding: 10px;
      color: $color-text;
      background-color: #FFF;
      &:hover {
        border: 1px solid #dc3545;
      }
   
     
      
    }

  }

  .categories-top {
    color: $color-text;
    text-align: start;
    font-size: 36px;
    font-weight: 600;
    line-height: 125%;
  }

}

.main-product {
  width: 100%;
  height: auto;
  margin-top: 100px;

  .main-product_top {
    padding: 15px;
    color: $color-text;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 125%;
  }

  .main-product_bottom {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;

    .main-product_bottom_box {
      width: 350px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #E2E2E2;
      background: #FFF;
      box-shadow: 0px 0px 50px 0px #e3e3e6;
      &:hover {
        border: 1px solid #dc3545;
      }

      .main-product_bottom_box_1 img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
      }

      .main-product_bottom_box-2 {
        color: $color-text;
        font-size: 18px;
        font-weight: 600;
        line-height: 125%;
        padding-top: 40px;
      }

      .main-product_bottom_box_3 {
        color: #8B8B8B;
        padding-top: 40px;
        font-size: 14px;
        letter-spacing: 1.4px;
      }

      .main-product_button {
        margin: 20px 20px;
        border: 1px solid #dc3545;
        padding: 10px;
        border-radius: 5px;
        background-color: #FFF;
        transition: all 0.8s ease;

        &:hover {
          background-color: #dc3545;
        }

        .add-product {
          font-size: 14px;
          font-weight: 600;
          line-height: 125%;
          color: $color-text;
        }
      }
    }
  }
}

.img-slide {
  margin-top: 100px;
}


  .slider-image {
    width: 100%;
    max-width: 253px;
    /* Đảm bảo ảnh chiếm toàn bộ không gian của slide container */
    object-fit: cover;
    /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
    height: 200px;
    // transition: 0.5s ease;
    // &:hover {
    //   transform: scale(1.1);
    // }
  }
